*{
    margin: 0px;
    padding : 0px;
    align-content: center;
    ;
}
body{
    background-color: rgb(236, 236, 236);
    padding: 0px 10% 0px 10%;
}
#navbar{
    background-color: white;
    display: flex;
    align-items: center;
    padding : 0px;
    margin: 0px;
    position: absolute;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding : 0px;
    height: 3.4em;
}
.navbar>nav>ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: baseline;
    margin: 0px;
    padding : 0px;
    height: 50px;
}

form{
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
}
.navbar>nav>ul>li{
    margin:10px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo>img{
    height: 2.7em;
}
.icon{
    height: 20px;
    width: 20px;
}


/* ***********************search bar Implementatation from the inter net **********************
*/

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  .search-button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
 }

 /* *******************Ends here***************** */



 .content-holder{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 40px; 
    padding-top: 40px;
    
       
    
 }
 .content-holder>div{
    margin :0px;
    
    display: flex;
    justify-content : space-between;
 }
.user-profile{
    border-radius: 10px;
    background-color: white;

}

.user-details{
    margin :0px;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-right: 4px;
}
.section-1{
    margin-left: 0px;
    display:flex;
    width: 18%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: 19vh;
}
.user-data{
    margin-left: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    
}
.marketing{
    margin-left: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    
}

.profile-image{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 10px;
    position: relative;
    top:-50px;
    left: 2px;
    border: 2px solid white;
}
.cover-image{
    height: 60px;
    position: relative;
    width: 100%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
      
}
.user-div-1{
    height: 105px;
}

.user-designation{
    font-size: 0.8em;
    margin: 0px;
    margin-top: 2px;
}
.user-location{
    font-size: 0.7em;
    margin: 2px;
    margin-bottom: 0px;
}
.user-school{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    margin: 15px 2px 8px 8px;
    
}
.username{
    font-size: 1.2em;
    margin:0px;
}
.user-school>strong>h5{
    font-size: 0.7em;
    margin: 0px;
}
.marketing{
    display: flex;
    flex-direction:column;
    margin: 0px;
    margin-top: 10px;
    height: 80%;
    padding-left: 10px;
}
.small-light-text{
    font-size: 0.7em;
    color: grey;
    margin: 0px;
    margin-left:10px;
}
.marketing-link{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding-right: 10px;
    width: 80%;
}
hr{
    height:1px;
    margin: 0px;
}
.user-analytics{
    margin-left: 0px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
}
.user-analytics>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
    margin-top:15px;
}
.small-text{
    font-size: 0.7em;
}


/* *************   SECTION  2 ************  */

.section-2{
    margin-left: 0px;
    display:flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: fit-content;
    position: relative;
}
.profile-photo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    
    border: 2px solid white;
}
#post-input{
    size: 4em;
    border-radius: 20px;
    border: #bbb 1px solid;
    width: 85%;
    height: 4vh;
    padding-left: 10px;
}


.horizontal-flex{
    display: flex;
    align-items: center;

}
.space-between{
    justify-content: space-between;

}
.center{
    justify-content: center;

}
.vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    align-items: center;

}
.make-post{
    margin-left: 0px;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    

}
.card{
    margin-left: 0px;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    margin-bottom: 10px;
    

}
.post-user-data{
    width: 90%;
    p{
        margin: 0px;
    }
}
.post-content{
    margin: 0px 20px 0px 20px ;
    p{
        margin-bottom: 10px;
    
    }
}
.post-photo>img{
    width: 100%;
}
.interactions{
    margin: 5px 20px 5px 20px;
    height: 3.5vh;
    padding-left: 5%;
    div{
        min-width: 100px;
        width: max-content;
        a{
            width: 100%;
        }
    }
    
}






/* *************   SECTION  3 ************  */
.section-3{
    margin-left: 0px;
    display:flex;
    width: 26%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    height: 400px;
}
.news-section-1{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    margin-top:10px ;
    padding: 2px 0px 0px 20px;
}
.news-section-1>p{
    margin: 0px;
    padding: 0px;
}

.text-big{
    font-size: large;
    ;
}
.news-articles{

    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.news-article-time{
    font-size: 0.8em;
    color: grey;
    margin-left: 2px;
}
.remove-ref-decoration{
    text-decoration: none;
    color: rgb(25, 34, 34);
}

.background-theme{
    background-color: rgb(210, 168, 255)
}







