<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Website </title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <nav >
        <ul>
            <div>
                <li class="logo" >logo</li>
            </div>
            <div>
                <li>Crypto</li>
                <li>Weather</li>
                <!-- <li><a href="#Extra">Extra</a></li> -->
            </div>
        </ul>
    </nav>
    
    
</body>
</html>